<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Change the value of this key! -->
		<add key="PosterAuthID" value="795e96e4-bb9e-4540-b544-7bc5dcc96123"/>
		
		<!-- If you change this, you have to put CaptainHook.xml file in that directory -->
		<add key="ConfigDirectory" value="~/App_Data"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="C#" debug="true"/>
		<customErrors mode="RemoteOnly"/>
		<httpHandlers>
			<add verb="POST" path="*.github" type="CaptainHook.Web.Handlers.GitHubJsonPostHandler, CaptainHook.Web"/>
		</httpHandlers>
		<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
